<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.mufg.it.mybatis.company.mapper.EmployeeMapper">

  <!--=== SELECT ===-->
  <select id="selectDynamicEmployees"
    resultMap="EmployeeResultMap">
    SELECT * FROM EMPLOYEE
    <where>
      <if test="departmentName != null">
        AND DEPARTMENT_NAME = #{departmentName}
      </if>
      <if test="lowerSalary != null">
        <![CDATA[AND #{lowerSalary} <= SALARY]]>
      </if>
      <if test="upperSalary != null">
        <![CDATA[AND SALARY <= #{upperSalary}]]>
      </if>
    </where>
  </select>
</mapper>