<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.mufg.it.mybatis.company.mapper.EmployeeMapper">

  <!--=== INSERT ===-->
  <insert id="insertEmployee"
    parameterType="jp.mufg.it.mybatis.company.dto.Employee">
    INSERT INTO EMPLOYEE
    VALUES (#{employeeId},
    #{employeeName:VARCHAR},
    #{department.departmentId:NUMERIC},
    #{entranceDate:DATE},
    #{jobType:NUMERIC},
    #{salary:NUMERIC})
  </insert>

  <!--=== UPDATE ===-->
  <update id="updateEmployee"
    parameterType="jp.mufg.it.mybatis.company.dto.Employee">
    UPDATE EMPLOYEE
    SET EMPLOYEE_NAME = #{employeeName:VARCHAR},
    DEPARTMENT_ID = #{department.departmentId:NUMERIC},
    ENTRANCE_DATE = #{entranceDate:DATE},
    JOB_ID = #{jobType:NUMERIC},
    SALARY = #{salary:NUMERIC}
    WHERE EMPLOYEE_ID = #{employeeId}
  </update>

</mapper>