<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- NEST SELECT＋構造化オブジェクト -->
<mapper namespace="jp.mufg.it.mybatis.company.nest">

  <select id="selectDepartment"
    parameterType="int"
    resultMap="DepartmentResult">
    SELECT * FROM DEPARTMENT WHERE DEPARTMENT_ID = #{departmentId}
  </select>

  <select id="selectEmployee"
    parameterType="int"
    resultMap="EmployeeResult">
    SELECT * FROM EMPLOYEE WHERE EMPLOYEE_ID = #{employeeId}
  </select>

  <select id="selectEmployeeByDepartmentId"
    parameterType="int"
    resultMap="EmployeeResult">
    SELECT * FROM EMPLOYEE WHERE DEPARTMENT_ID = #{departmentId}
  </select>

  <resultMap id="DepartmentResult"
    type="jp.mufg.it.mybatis.company.dto.Department">
    <!-- 他のプロパティは省略可能なのに、何故かdepartmentIdだけ定義しないと値が入ってくれない -->
    <id property="departmentId" column="DEPARTMENT_ID" />
    <collection property="employees" column="DEPARTMENT_ID" select="selectEmployeeByDepartmentId" />
  </resultMap>

  <resultMap id="EmployeeResult"
    type="jp.mufg.it.mybatis.company.dto.Employee">
    <result property="jobType" column="JOB_ID" />
    <association property="department" column="DEPARTMENT_ID" select="selectDepartment" />
  </resultMap>

</mapper>