<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JOIN SELECT＋構造化オブジェクト -->
<mapper namespace="jp.mufg.it.mybatis.company.mapper.EmpDeptJoinMapper">

  <select id="selectDepartment"
    parameterType="int"
    resultMap="DepartmentResult">
    SELECT d.*, e.*
    FROM DEPARTMENT d INNER JOIN EMPLOYEE e
    ON d.DEPARTMENT_ID = e.DEPARTMENT_ID
    WHERE d.DEPARTMENT_ID = #{departmentId}
  </select>

  <select id="selectEmployee"
    parameterType="int"
    resultMap="EmployeeResult">
    SELECT e.*, d.*
    FROM EMPLOYEE e INNER JOIN DEPARTMENT d
    ON e.DEPARTMENT_ID = d.DEPARTMENT_ID
    WHERE e.EMPLOYEE_ID = #{employeeId}
  </select>

  <!--
  e.*などとした場合、resultMapの自動マッピングは適用されず、
  プロパティにセットしたい全カラム分を設定する必要がある模様
  さらにカラム名が衝突した場合は、resultMap上に"e.XXX"とは書けないので、
  SELECT句にカラムを指定し、エイリアスを使って識別するしかない
  -->

  <resultMap id="DepartmentResult"
    type="jp.mufg.it.mybatis.company.dto.Department">
    <id property="departmentId" column="DEPARTMENT_ID" />
    <result property="departmentName" column="DEPARTMENT_NAME" />
    <result property="location" column="LOCATION" />
    <collection property="employees" resultMap="EmployeeResult" />
  </resultMap>

  <resultMap id="EmployeeResult"
    type="jp.mufg.it.mybatis.company.dto.Employee">
    <id property="employeeId" column="EMPLOYEE_ID" />
    <result property="employeeName" column="EMPLOYEE_NAME" />
    <result property="entranceDate" column="ENTRANCE_DATE" />
    <result property="jobType" column="JOB_ID" />
    <result property="salary" column="SALARY" />
    <association property="department" resultMap="DepartmentResult" />
  </resultMap>

</mapper>